
#owoPhoneControlsBase {
  display: block; 
  border: 1px #EFEFEF solid;
}

#owoPhoneControlsBase .green {
  color: green;
  background-color: green;
}

#owoPhoneControlsBase .yellow {
  color: yellow;
  background-color: yellow;
}

#owoPhoneControlsBase .red {
  color: red;
  background-color: red;
}

#owoPhoneControlsSipStatusIndicator {
  display: inline-block;
  min-width: 10px;
  min-height: 10px;
  width: 10px;
  height: 10px; 
}


#owoPhoneConfigBase {
  
}

#owoPhoneConfigBase .show {
  display: block;
}